/* ----------------- common css -----------------------*/
html{
	font-size: 62.5%;
}

body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div,dl,dt,dd,i{
	margin:0;
	padding:0;
}
body{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
}
a{
	text-decoration: none;
	color:#333;
	pointer:cursor;
}
a:hover{
	color: #17a3fa;
}
img{
	border:none;
	width:100%;
}
li{
	list-style: none;
}
h1{
	font-size:2.4rem;
	color:#17a3fa;
	font-weight: normal;
}
h2{
	font-size:2rem;
	font-weight: normal;
	font-family: sans-serif;
}
h3, .h3{
	font-size:1.2rem;
	color:#999;
}

i{
	font-style: normal;
}


/* -----------------mobile header < 768px-----------------------*/

@media (max-width: 767px){

.pc-con{
	display: none !important;
}

img{
	width:100%;
}

.header{
	height: 47px;
	width: 100%;
	background: #fff;
	line-height: 47px;
}

.header .mobile-con{
	display: block;
	padding:3px 15px;
	position: fixed;
	height: 47px;
	width: 100%;
	background: #fff;
	line-height: 47px;
	border-bottom:1px solid #d6d6d6;
}

.header .mobile-con .leftPart{
	float:left;
	height: 47px;
}

.header .mobile-con .rightPart{
	float:right;
}

.header .mobile-con .rightPart .menu{
	display:none;
}

.header .mobile-con .rightPart .lang{
	float:left;
	margin-right: 20px;
	word-spacing: 5px;
	font-size: 1.4rem;
}

.header .mobile-con .rightPart .lang a:hover,
.header .mobile-con .rightPart .lang .on{
	color:#17a3fa;
}

.header .mobile-con .rightPart button{
	width:43px;
	height:33px;
	border:1px solid #DFDFDF;
	border-radius: 5px;
	background: #fff;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 30px;
}

.header .mobile-con .rightPart button:hover{
	background: #D7D7D7;
}

.header .mobile-con .rightPart button .icon-bar{
	width:22px;
	border-bottom: 2px solid #8D8D8D;
	display: block;
	margin:2px 0px 4px 3px;
}
}

/* -----------------pc header common css-----------------------*/

.header-con1 .headBar1{
	background: #142134;
	color:#fff;
	font-size: 1.3rem;
}

.header-con1 .headBar1 a{
	color:#fff;
}

.header-con1 .headBar1 .container{
	width:992px;
	height: 20px;
	line-height: 20px;
	padding:10px 30px;
	margin:0 auto;
}

.header-con1 .headBar1 .topLeft{
	float:left;
}

.header-con1 .headBar1 .topLeft p{
	background: url(../images/header-icon_03.jpg) no-repeat;
	width:418px;
	padding-left:25px;
}

.header-con1 .headBar1 .topRight .contact{
	float:left;
}

.header-con1 .headBar1 .topRight .contact .email{
	background: url(../images/header-icon_05.jpg) no-repeat;
	padding-left:28px;
	float:left;
}

.header-con1 .headBar1 .topRight .contact .tel{
	background: url(../images/header-icon_07.jpg) no-repeat;
	padding-left:28px;
	float:left;
}

.header-con1 .headBar1 .topRight .contact i{
	float:left;
	font-style: normal;
	margin:0 15px;
}

.header-con1 .headBar1 .topRight .lang{
	float:left;
	margin:0 20px 0 25px;
}

.header-con1 .headBar1 .topRight .lang .on{
	color:#17a3fa;
}

.header-con1 .headBar1 .topRight .search input{
	height: 30px;
	background: #cacaca;
	color:#fff;
	border:1px solid #cacaca;
	border-radius: 4px;
	position: relative;
	top:-5px;
}

.header-con1 .headBar1 .topRight .search img{
	position:relative;
	right:28px;
	width: 18px;
	height: 18px;
}

.header-con1 .headBar2 .container{
	width:992px;
	height: 120px;
	line-height: 120px;
}

.header-con1 .headBar2 .leftPart{
	float:left;
	margin-right:30px;
}

.header-con1 .headBar2 .leftPart a{
	display: block;
	position: relative;
	top:25px;
	left:20px;
}

.header-con1 .headBar2 .rightPart .menuList>li{
	float:left;
	margin-left:3%;
}
}

.header-con1 .headBar2 .rightPart .menuList a{
	font-size: 1.4rem;
}

.header-con1 .headBar2 .rightPart .menuList ul{
	display: none;
}

.header-con1 .headBar2 .rightPart .menuList .hdText{
	display: none;
}

/* -----------------pc header 768px-992px-----------------------*/

@media (min-width: 768px) and (max-width: 991px){

.mobile-con{
	display: none !important;
}

.header-con1 .headBar2 .rightPart .menuList a{
	font-size: 1.4rem;
}


.header-con1 .headBar1 .container{
	width:768px;
}

.header-con1 .headBar1 .topLeft{
	display: none;
	float:left;
}

.header-con1 .headBar1 .topRight{
	margin-left:25%;
}

.header-con1 .headBar2 .container{
	width: 768px;
	margin:0 auto;
	font-size: 1rem;
}

.topRight .search input{
	width:120px;
}

}


/* -----------------pc header 992px-1200px-----------------------*/


@media (min-width: 992px) and (max-width: 1200px){
.mobile-con{
	display: none !important;
}

.header-con1 .headBar2 .rightPart .menuList a{
	font-size: 1.6rem;
}

.header-con1 .headBar2 .rightPart .menuList>li{
	margin-left:5%;
}

.topRight .search input{
	width:120px;
}

}

/* -----------------pc header >1200px-----------------------*/

@media (min-width: 1200px){
.mobile-con{
	display: none !important;
}

.header-con1 .headBar2 .container{
	width: 1200px;
	margin:0 auto;
	font-size: 1.6rem;
}

.header-con1 .topLeft{
	margin-right:10%;
	margin-left:-15%;
	padding-left: 10%;
}


.header-con1 .topRight{
	margin-right:-20%;
}

.topRight .search input{
	width:180px;
}

.header-con1 .headBar2 .rightPart .menuList .hdText{
	display: inline-block;
	margin-left:8px;
}

.header-con1 .headBar2 .rightPart .menuList>li{
	margin-left:6%;
}

}

/* ----------------- main -----------------------*/

.main .mobile-slideImg{
	display: block;
}

.main .slideImg img{
	width:100%;
}

/* ----------------data------------------ */

.main .data .row .lattice{
	height: 130px;
	float:left;
	text-align: center;
	border-right:1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	background:#F6F6F6;
}

.main .data .row .lattice .num{
	font-size:3.4rem;
	margin:1rem 0;
}

.main .data .row .lattice .text{
	font-size:1.2rem;
	color:#999;
}

.main .data .row1,
.main .data .row2,{
	width:100%;
}

.main .data .data-con .row .lattice{
	width:16.5%;
	height: 130px;
}

@media (max-width:767px){
.main .data .data-con .row{
	width:100%;
}

.main .data .row .lattice .num{
	font-size:3.4rem;
	margin:1rem 0;
}

.main .data .data-con .row .lattice{
	width:33%;
}
}


@media (min-width:768px){
.main .data .row .lattice .num{
	font-size:4rem;
	margin:1.2rem 0;
}

}

/* ----------------intro1------------------ */

.intro1{
	width: 90%;
	margin:0 atuo;
	background: url(../images/about-bg_02.jpg) no-repeat;
	background-size: cover;
	padding:5%;
}

.intro1 .sec1{
	padding:7% 5%;
	background: -webkit-linear-gradient(to right, #fff 30%,transparent);
	background: -o-linear-gradient(to right, #fff 30%,transparent);
	background: -moz-linear-gradient(to right, #fff 30%,transparent);
	background: linear-gradient(to right, #fff 30%,transparent);
	width: 40%;
}

.intro1 .textCon{
	width: 90%;
	font-size:1.6rem;
	line-height: 1.8rem;
	padding:10px 0;
}

.intro1 .container{
	background:#fff url(../images/about2_03.jpg) no-repeat right center;
	background-size: 90% 100%;
	margin:0 auto;
}

.intro1 .sec2{
	display: none;
}

@media (min-width:321px){
	.intro1 .hhf{
	display: none;
}
}

@media (max-width:768px){
.intro1 .sec2{
	display: block;
}
.intro1 .container{
	width:100%;
	background:#fff;
	margin:0 auto;
	background-size:100%;
}
.intro1 .sec1{
	width:90%;
	background:#fff;
	margin-bottom: -15px;
}
.intro1 .textCon{
	font-size:1.3rem;
	line-height: 1.6rem;
}

.intro1 .sec1 h1{
	font-size: 2.4rem;
}

.intro1 .sec1 h2{
	font-size: 2rem;
	line-height: 3rem;
}
}

@media (width:768px){
.intro1 .textCon{
	width:96%;
}
.intro1 .hhf{
	display: none;
}

}

@media (min-width:769px) and (max-width:992px){
.intro1 {
	width: 768px;
	margin:0 auto;
}

.intro1 .sec1 h1{
	font-size: 3.8rem;
}

.intro1 .sec1 h2{
	font-size:2.8rem;
	line-height: 3.8rem;
}
}

@media (min-width:993px) and (max-width:1200px){
.intro1 .textCon{
	font-size:1.4rem;
}
.intro1 .container{
	width: 992px;
}

.intro1 .container .sec1 h1{
	font-size: 3.6rem;
}

.intro1 .container .sec1 h2{
	font-size: 2.8rem;
	line-height: 3.8rem;
}
}

@media (min-width:1200px){
.sec1 .textCon{
	font-size:1.6rem;
}
.intro1 .container{
	width: 1200px;
}

.intro1 .container .sec1 h1{
	font-size: 3.6rem;
}

.intro1 .container .sec1 h2{
	font-size: 2.8rem;
	line-height: 3.8rem;
}
}

@media (min-width:1400px){
	.intro1 .container .sec1{
		width: 50%;
	}
}

/* ----------------product------------------ */

.main .product{
	padding:10px;
	margin:0 auto;
	text-align: center;
}

.main .product h1{
	font-size:2.8rem;
}

.main .product .h3{
	font-size:1.3rem;
}

.main .product p{
	line-height: 2rem;
}

.main .product .pro-sec1{
	margin:20px 0;
}

.secLine{
	margin:20px 10px;
	text-align: center;
}

.moreBtn{
	display: block;
	width:120px;
	height:36px;
	line-height: 36px;
	border-radius: 5px;
	border:1px solid #d8d8d8;
	margin:0 auto;
	background-color: #fff;
	z-index: 2;
	font-size: 1.4rem;
}

.moreBtn:hover{
	display: block;
	width:120px;
	height:36px;
	line-height: 36px;
	border-radius: 5px;
	border:1px solid #d8d8d8;
	margin:0 auto;
	background-color: #17a3fa;
	z-index: 2;
	color:#fff;
}

.secLine .leftLine{
	display: block;
	position: relative;
	top:19px;
	width:50%;
	float:left;
	border-bottom:1px solid #d8d8d8;
	z-index: -1;
}

.secLine .rightLine{
	display: block;
	position: relative;
	bottom:19px;
	width:50%;
	float:right;
	border-bottom:1px solid #d8d8d8;
	z-index: -1;
}

.main .product .pro-sec2{
	margin:0 atuo;
}

.main .product .pro-sec2 .row{
	width:100%;
}

.main .product .pro-sec2 .row .pro{
	float:left;
	width:43%;
	border:1px solid #f1f1f1;
	margin:3%;
}

.main .product .pro-sec2 .row .pro p{
	background: #F6F6F6;
	padding:10px 0;
	font-size: 1.3rem;
}

.clear{
	clear:both;
}

@media (min-width: 768px){
.main .product .pro-sec2 .row .pro{
	width:21.5%;
	margin:0 1.5% 1.5%;
}
}

/* ----------------intro2------------------ */
.main .intro2{
	background: url(../images/about_02.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 3%;
	border-image: 
}
.main .intro2 .container{
	width: 90%;
	margin:10px auto;
	background: #f6f6f6;
}

.main .intro2 .sec1{
	background:#142134;
	line-height: 20px;
	color:#B1B1B1;
	font-weight: normal;
	font-size:1.2rem;
	padding:2%;
}

.main .intro2 .sec1 .topTit{
	border-left:3px solid #B1B1B1;
	padding-left:10px;
	margin:5px 0;
}

.main .intro2 .sec1 .topTit h2{
	font-size:2.4rem;
	line-height: 2.5rem;
	color:#fff;
}

.main .intro2 .sec1 .topTit p{
	font-weight: bold;
}

.main .intro2 .sec1 .textCon{
	border-top:1px dashed #B1B1B1;
	margin-top: 15px;
}

.main .intro2 .sec1 .textCon p{
	margin:10px 0;
	color:rgba(157,157,157,0.9);
}

.main .intro2 .sec1 .view-more{
	text-align: center;
	display: block;
	width:93px;
	height:36px;
	line-height: 36px;
	background: #fff;
	color:#037dc7;
	border:1px solid #fff;
	border-radius: 4px;
	margin-top:25px;
}

.main .intro2 .sec2{
	padding:5px;
	margin:-5px;
}

.main .intro2 .sec2 .smallImg{
	margin-top:13px;
}

.main .intro2 .sec2 .smallImg img{
	height: auto;
	width:22%;
}

.main .intro2 .sec2 .smallImg .on{
	height: auto;
	width:22%; 
	border: 2px solid #17a3fa;
	box-sizing:border-box; 
}

@media (max-width:767px){
.main .intro2{
	background: #fff;
}	
.main .intro2 .container{
	background: none;
}	

.main .intro2 .sec1{
	line-height: 20px;
	color:#B1B1B1;
	font-weight: normal;
	font-size:1.2rem;
}

.main .intro2 .sec2{
	background: #f6f6f6;
	margin-top: 5px;
}
}


@media(min-width: 768px) and (max-width:992px){
.main .intro2 .container{
	width: 768px;
	margin:0 auto;
}


.main .intro2 .sec{
	height: 400px;
}

.main .intro2 .sec1,
.main .intro2 .sec2{
	float:left;
	width:46%;
	margin:0 0.5%;
}

}

@media(min-width: 993px) and (max-width:1200px){
.main .intro2 .container{
	width: 992px;
	margin:0 auto;
}
.main .intro2 .sec1,
.main .intro2 .sec2{
	float:left;
	width:46%;
	margin:0 0.5%;
}
}

@media (min-width: 1200px){
.main .intro2 .container{
	width: 1200px;
	margin:0 auto;
}
.main .intro2 .sec1,
.main .intro2 .sec2{
	float:left;
	width:46%;
	margin:0 0.5%;
}
.sec1 .textCon{
	font-size: 1.5rem;
}

.main .intro2 .sec1 .topTit h2{
	font-size:3rem;
	line-height: 4rem;
}

.main .intro2 .sec1 .view-more{
	margin-bottom:30px;
}

}

/* ----------------News------------------ */

.main .news{
	margin:15px;
}

.main .news .sec1{
	text-align: center;
}

.main .news .sec1 h1{
	font-size: 2.8rem;
}

.main .news .sec1 h3{
	font-size: 1.3rem;
	font-weight: normal;
	font-family: sans-serif;
}

.main .news .sec2 a:hover,
.main .news .sec3 a:hover{
	color:#333;
}

.main .news .sec2{
	background: #f6f6f6;
}

.main .news .topTit{
	line-height: 2.6rem;
	border-bottom: 1px dashed #999;
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
	overflow: hidden;
}

.main .news .textCon{
	font-size:1.2rem;
	line-height: 1.6rem;
}

.main .news .sec3{
	margin:18px 0;
}

.main .news .sec3 .newShow{
	display: block;
	width:100%;
	height:90px;
	overflow: hidden;
	margin-bottom: 20px;
}

.main .news .sec3 .newShow .dateTime{
	width:30%;
	height: 90px;
	float:left;
	background: #f6f6f6;
	text-align: center;
}

.main .news .sec3 .newShow .dateTime:hover{
	background: #17a3fa;
	color:#fff;
}

.main .news .sec3 .newShow .dateTime .date{
	font-size: 2.4rem;
	padding:15px 0 0;
}

.main .news .sec3 .newShow .dateTime .year{
	font-size: 1.3rem;
	line-height: 3rem;
	opacity: 0.6;
}

.main .news .sec3 .newShow .dateTime .year:hover{

}

.main .news .sec3 .newShow .text{
	width:60%;
	float:left;
	margin-left: 15px;
}

@media (min-width: 768px){
.main .news .sec3 .newShow{
	width:50%;
	float:left;
}	
}

/* ----------------floatTools------------------ */

#floatTools{
	position:fixed;
	right:0px;
	top:200px;
	width:30px;
	height:120px;
	background: url(../images/skype_03.png) no-repeat;
	index:99;
}

/* ----------------mobile footer------------------ */

.footer{
	background: #142134;
	color:#fff;
	position: relative;
}

.footer a{
	color:#fff;
	pointer:cursor;
}

.footer a:hover{
	color:#17a3fa;
}

@media(max-width: 767px){
.footer .pc-con{
	display: none;
}	

.footer .mobile-con{
	text-align: center;
}

.footer .mobile-con a{
	color:#fff;
}

.footer .mobile-con i{
	float: right;
	transform: rotate(90deg) scaleX(0.5);
	font-size: 3rem;
	margin-right: 2rem;
}

.footer .mobile-con .nav,
.footer .mobile-con .contact{
	border-bottom:1px solid #999;
	height: 50px;
	line-height: 50px;
	font-size: 1.4rem;
}

.footer .mobile-con .outerChain{
	height: 100px;
}

.footer .mobile-con .outerChain .link{
	width:250px;
	margin:15px auto;
}

.footer .mobile-con .outerChain .link a{
	display: block;
	width:38px;
	height: 38px;
	margin:5px;
	float:left;
}

.footer .mobile-con .outerChain p{
	clear:both;
	font-size:1.2rem;
	opacity: 0.7;
	line-height: 2rem;
}
}

/* ----------------pc footer------------------ */

.footer img{
	width:inherit;
}

.footer .pc-con{
	width:94%;
	margin:0 auto;
	line-height: 2.5rem;
	font-size: 1.3rem;
	padding:40px 0;
}

.footer .pc-con .container{
	width: 100%;
	margin:0 auto;
}

.footer .pc-con .list{
	width:30%;
	float:left;
	color:#999;
	background: url(../images/footer-bg_03.jpg) no-repeat left top;
	padding-left:3%;
}

.footer .pc-con .list a{
	color:#999;
}

.footer .pc-con .list h5{
	color: #fff;
	font-size: 2rem;
}

.footer .pc-con .list ul{
	margin-top:20px;
}

.footer .pc-con form{
	position: relative;
}

.footer .pc-con form input{
	height: 35px;
	border:1px solid #999;
	border-radius: 4px;
	margin: 20px 0;
}

.footer .pc-con form .txt{
	width: 90%;
	padding-left: 2%;
	float:left;
}

.footer .pc-con form .submit{
	position: absolute;
	right:8%;
	top:1px;
	height: 37px;
	border:1px solid #fff;
}

.footer .pc-con .wChat .img1{
	background: #ebebeb;;
	border:1px solid #ebebeb;;
	padding:5px 20px;
	clear:left;
	border-radius: 5px;
}

.footer .pc-con .wChat .img2{
	position: relative;
	top:-30px;
}

@media (min-width: 768px) and (max-width: 1200px){
.footer .mobile-con{
	display: none;
}	

.footer .pc-con .wChat .img2{
	display: none;
}
}

@media (min-width: 1200px){
.footer .pc-con .container{
	width: 1200px;
}
}


/* ----------------return top------------------ */

.return-top{
	position:fixed;
	right:5px;
	bottom:60px;
	width:60px;
	height:60px;
	background: url(../images/return-top.png) no-repeat;
	index:99;
	transform: scale(0.75);
}

@media (min-width: 768px){
.return-top{
	transform: scale(1);
}
}